@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  font-family: 'Comfortaa', cursive;
}

body {
  display: grid;
  justify-content: center;
  justify-items: center;
  background: #f4f5f5 url("halloween.png") repeat scroll -2px -5px;
  background-size: 10rem 10rem;
}

h1 {
  border: 1px solid black;
  background-color: white;
  padding: 10px 20px;
}

#books {
  border: 1px solid black;
  background-color: white;
}

.book {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  min-width: 40rem;
}

.book > h2 {
  margin-left: 1rem;
}

.seperate {
  width: 100px;
  height: 5px;
  background-color: black;
  margin: 1rem auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
}

.form > h3 {
  text-align: center;
}

.form > * {
  margin: 5px;
}

#Add {
  align-self: flex-end;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px #000;
  font-weight: 600;
}

.remove {
  margin: 1rem 1rem;
  width: 8rem;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 5px 4px 3px 2px #000;
}

.textinput {
  padding: 10px 5px;
  border: 2px solid black;
}

button {
  font-weight: 600;
}
